<section  class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="../../../../../assets/img/logoCyberSoft.png" alt="logoCyberSoft">
            </div>
            <div class="col-2 col_normal">
                <h4>Hệ thống rạp</h4>
                <ul>
                    <li><a href="">CiberCinema UVK</a></li>
                    <li><a href="">CiberCinema SVH</a></li>
                </ul>
            </div>
            <div class="col-2 col_normal">
                <h4>CyberCinemas</h4>
                <ul>
                    <li><a href="">Phim đang chiếu</a></li>
                    <li><a href="">Phim sắp chiếu</a></li>
                    <li><a href="">Suất chiếu đặc biệt</a></li>
                    <li><a href="">Lịch chiếu</a></li>
                    <li><a href="">Khuyến mãi</a></li>
                </ul>
            </div>
            <div class="col-2 col_normal">
                <h4>Thông tin</h4>
                <ul>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Hỏi đáp</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-2 ket_noi">
                <h4>Kết nối chúng tôi</h4>
                <ul>
                    <li>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-youtube-play"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>Download App</li>
                    <li>
                        <a href=""><i class="fa fa-apple"></i></a>
                        <a href=""><i class="fa fa-android"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>