<li class="list-group-item">
  <div class="row">
    <div class="col-4">
      <div class="img">
        <img [src]="phim.HinhAnh" alt="">
        <a href="">
          <i class="fa fa-play-circle-o text-white"></i>
        </a>
        <div class="img_overlay">

        </div>
      </div>
    </div>
    <div class="col-8">
      <p>{{phim.TenPhim}}</p>
      <div>
        <button type="button" class="btn btnChiTiet mr-2" [routerLink]="['/chitiet', phim.MaPhim]">Chi tiết</button>
        <button type="button" class="btn btnChonPhim" (click)="chonPhim()" [routerLink]="['/datve/chonphim', phim.MaPhim]">Chọn phim</button>
      </div>
    </div>
  </div>
</li>