<div class="row my-4">
  <div class="col-12 text-center mb-2">
    <button class="btn mr-2 btnTitle btnPhimDangChieu" [ngClass]="{'active': dangChieu}" (click)="hienPhimDangChieu()">Đang Chiếu</button>
    <button class="btn btnTitle btnPhimSapChieu" [ngClass]="{'active': !dangChieu}" (click)="hienPhimSapChieu()">Sắp Chiếu</button>
  </div>
</div>
<div class="row">
  <div class="col-12" *ngIf="dangChieu; else phimSapChieu">
    <app-phim-dang-chieu>

    </app-phim-dang-chieu>
  </div>
  <ng-template #phimSapChieu>
    <div class="col-12">
      <app-phim-sap-chieu>
        
      </app-phim-sap-chieu>
    </div>
  </ng-template>
</div>