<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn btn-success" type="button" (click)="onBtnDangNhap()">ĐĂNG NHẬP</button>
        <button class="btn btn-info" type="button" (click)="onBtnDangKy()">ĐĂNG KÝ</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12" *ngIf="sttDangNhap; else onFormDK">
            <form #formDN="ngForm" (ngSubmit)="signIn(formDN)">
              <div class="form-group">
                <label>Tài khoản</label>
                <input 
                  class="form-control" 
                  type="text" 
                  placeholder="Tài khoản..."
                  name="TaiKhoan"
                  ngModel 
                />
              </div>
              <div class="form-group">
                <label>Mật khẩu</label>
                <input 
                  class="form-control" 
                  type="password" 
                  placeholder="Mật khẩu..."
                  name="MatKhau"
                  ngModel 
                />
              </div>
              <div class="form-group text-center">
                <button class="btn btn-success">ĐĂNG NHẬP</button>
              </div>
            </form>
          </div>
          <ng-template #onFormDK>
            <div class="col-12">
              <form #formDK="ngForm" (ngSubmit)="signUp(formDK)">
                <div class="form-group">
                  <label>Tài khoản</label>
                  <input 
                    class="form-control" 
                    type="text" 
                    placeholder="Tài khoản..."
                    name="TaiKhoan"
                    ngModel 
                  />
                </div>
                <div class="form-group">
                  <label>Mật khẩu</label>
                  <input 
                    class="form-control" 
                    type="password" 
                    placeholder="Mật khẩu..."
                    name="MatKhau"
                    ngModel 
                  />
                </div>
                <div class="form-group">
                  <label>Họ tên</label>
                  <input 
                    class="form-control" 
                    type="text" 
                    placeholder="Họ tên..."
                    name="HoTen"
                    ngModel 
                  />
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input 
                    class="form-control" 
                    type="email" 
                    placeholder="Email..."
                    name="email"
                    ngModel 
                  />
                </div>
                <div class="form-group">
                  <label>Số ĐT</label>
                  <input 
                    class="form-control" 
                    type="number" 
                    placeholder="Số ĐT..."
                    name="SoDT"
                    ngModel 
                  />
                </div>
                <div class="form-group text-center">
                  <button class="btn btn-success">ĐĂNG KÝ</button>
                </div>
              </form>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>