nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    .myNavbar_left {
        .navbar-brand {
            img {
                width: 200px;
            }
        }
    }
    
    .myNavbar_right {
        .myNavbar_right_top {
            text-align: right;
            font-size: 13px;
            .btn_dangNhap {
                color: rgba(0, 0, 0, .5);
                text-decoration: none;
                &:hover {
                    color: #CEA430;
                }
            }
            .btn_changeLanguage {
                a {
                    color: rgba(0, 0, 0, .5);
                    text-decoration: none;
                    &:hover {
                        color: #CEA430;
                    }
                }
            }
        }
        .myNavbar_right_bottom {
            #myNavbar {
                .navbar-nav {
                    border-bottom: solid 2px #DDD;
                    .nav-item {
                        .nav-link {
                            padding: 13px 18px;
                            letter-spacing: 1px;
                            position: relative;
                            text-transform: uppercase;
                            &::before {
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                content: "";
                                background: linear-gradient(to right, #CEA430, #6B3e2b);
                                height: 2px;
                                width: 0%;
                            }
                            &::after {
                                position: absolute;
                                content: "";
                                background: #DDD;
                                width: 1px;
                                height: 18px;
                                top: 15px;
                                right: 0;
                            }
                        }
                        &:hover {
                            .nav-link {
                                color: #CEA430;
                                &::before {
                                    width: 100%;
                                    transition: all 0.45s;
                                    -webkit-transition: all 0.45s;
                                    -moz-transition: all 0.45s;
                                    -ms-transition: all 0.45s;
                                    -o-transition: all 0.45s;
                                }
                            }
                        }
                    }
                    .nav_title_phim {
                        position: relative;
                        .phim_overlay {
                            position: absolute;
                            top: 3.25rem;
                            left: -11.75rem;
                            width: 43.25rem;
                            height: 34rem;
                            background-color: #CEA430;
                            h5 {
                                text-align: center;
                                margin-top: 1rem;
                                color: #ffffff;
                            }
                            .item_phim {
                                .row {
                                    .col-3 {
                                        padding: 0!important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
