<section>
  <div class="text-center">
    <button type="button" class="btn btnTitle btnDienAnh" [ngClass]="{'active': statusTinTuc === 'dienanh'}" (click)="hienStatusTinTuc('dienanh')">Điện ảnh</button>
    <button type="button" class="btn btnTitle btnReview" [ngClass]="{'active': statusTinTuc === 'review'}" (click)="hienStatusTinTuc('review')">Review</button>
    <button type="button" class="btn btnTitle btnKhuyenMai" [ngClass]="{'active': statusTinTuc === 'khuyenmai'}" (click)="hienStatusTinTuc('khuyenmai')">Khuyến mãi</button>
  </div>
  <div class="row pt-4" [ngSwitch]="statusTinTuc">
    <div class="col-12" *ngSwitchCase="'dienanh'">
      <app-dien-anh>
  
      </app-dien-anh>
    </div>
    <div class="col-12" *ngSwitchCase="'review'">
      <app-review>
  
      </app-review>
    </div>
    <div class="col-12" *ngSwitchCase="'khuyenmai'">
      <app-khuyen-mai>
  
      </app-khuyen-mai>
    </div>
  </div>
</section>