/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Roboto';
}

//Carousel itemPhim
.owl-theme {
    position: relative;
    .owl-nav {
        .owl-prev {
            position: absolute;
            top: 33.5%;
            left: -3%;
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 18px !important;
            border-radius: 50% !important;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            -ms-border-radius: 50% !important;
            -o-border-radius: 50% !important;
            padding: 0 !important;
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
            background-color: white !important;
            color: #CEA430 !important;
            &:hover {
                box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
            }
        }
        .owl-next {
            position: absolute;
            top: 33.5%;
            right: -2.5%;
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 18px !important;
            border-radius: 50% !important;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            -ms-border-radius: 50% !important;
            -o-border-radius: 50% !important;
            padding: 0 !important;
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
            background-color: white !important;
            color: #CEA430 !important;
            &:hover {
                box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
            }
        }
    }
}