<!-- header -->
<app-header>

</app-header>
<!-- end header -->

<div class="container">
  <div class="row">
    <div class="col-5">
      <img [src]="chiTietPhim.HinhAnh" alt="">
      <div class="img_overlay">
        <i class="fa fa-play-circle-o"></i>
      </div>
    </div>
    <div class="col-7" id="div_scroller">
      <div class="row mt-4">
        <div class="col-12 text-center mb-4">
          <button type="button" class="btn btnTitle btnThongTin" [ngClass]='{"active": sttThongTin}' (click)="hienThongTin()">Thông tin</button>
          <button type="button" class="btn btnTitle btnLichChieu" [ngClass]='{"active": !sttThongTin}' (click)="hienLichChieu()">Lịch chiếu</button>         
        </div>
        <div class="col-12" *ngIf="sttThongTin; else lichChieu">
          <h4 class="mb-4 text-center">{{chiTietPhim.TenPhim}}</h4>
          <p class="lead">Khởi chiếu: <span>{{chiTietPhim.NgayKhoiChieu | date: "dd-MM-yyyy"}}</span></p>
          <p class="lead">Thể loại: <span>Hành động</span></p>
          <p class="lead">Quốc gia: <span>Việt Nam</span></p>
          <p class="lead">Diễn viên: <span> Noomi Rapace, Olivia Jewson, Abdellatif Chaouqi</span></p>
          <p class="lead">Đạo diễn: <span>Vicky Jewson</span></p>
          <p class="lead">Nội dung phim: <span>{{chiTietPhim.MoTa}}</span></p>
          <p class="lead">
            Đánh giá: 
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </p>
        </div>
        <ng-template #lichChieu>
          <div class="col-12" *ngFor="let lichChieu of chiTietPhim.LichChieu">
            <div class="card">
              <div class="card-body">
                <span class="mr-4">{{lichChieu.NgayChieuGioChieu | date: 'dd - MM - yyyy'}}</span>
                <button type="button" [routerLink]="['/danhsachghe', lichChieu.MaLichChieu]" class="btn btnGioChieu">{{lichChieu.NgayChieuGioChieu | date: "hh : mm"}}</button>
              </div>
            </div>
          </div>
        </ng-template>        
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<app-footer></app-footer>
<!-- end footer -->