<!-- header -->
<app-header></app-header>
<!-- end header -->

<!-- content -->
<div class="container my-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
          <h5>chọn phim</h5>
        </div>
        <ul class="list-group list-group-flush" *ngFor="let phim of danhSachPhimDangChieu">
          <app-item-phim-dat-ve [phim]="phim" (eventChonPhim)="chonPhim($event)"></app-item-phim-dat-ve>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
          <h5>chọn suất</h5>
        </div>
        <div class="card-body">
          <p *ngIf="chuaChon; else ChiTietPhim">Vui lòng chọn phim</p>
          <ng-template #ChiTietPhim>
            <router-outlet></router-outlet>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end content -->

<!-- footer -->
<div class="container">
  <app-footer></app-footer>
</div>
<!-- end footer -->